
body, html{
  height: 100%;
  
}

div.container{
  /* border: 5px solid rgb(224, 120, 35); */
  width: 960px;
  margin: 0 auto;
}

div#nv_item{
  width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 15px;
   font-weight: bold;
   border-top: 1px solid #f1f3f6;
}
#nv_item a {
  text-decoration: none; /* 기본 밑줄을 제거합니다 */
  color: #363434;
}

#button{
  margin-left: 300px;
}
#button2{
  font-size: 7px;
}

.pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.choice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#img1{
  width: 100%;
}
.map{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(185, 184, 184);
  border-top: 1px solid rgb(0, 0, 0);
}
#map1{
  border: 1px solid grey;
  width: 70%;
}

.all{
  display: flex;
   justify-content: space-between;
   align-items: center;
}
.box1{
  flex: calc(44%);
}
.box{
  flex: calc(33.3%);
  margin-right: 10px;
  margin-bottom: 10px;
}

.box a{
  text-decoration: none;
}

#pon {
  font-size: 17px; 
  font-weight: bold;
  color: #000000;
}

p{
  font-size: 10px;
  margin: 5px 0px 5px 1px;
  color: #817979;
  text-decoration: none; 

}
ul{
  margin: 0 0;
}
.more{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#news{
  font-size: 14px;
}

form{
  padding-left: 10%;
}
li{
  font-size: 10px;
}
table{
  width: calc(100%);
  height: 100%;
  border: 1px solid rgb(187, 187, 187);
  border-collapse: collapse;
}
td{
  border: 1px solid rgb(187, 187, 187);
}
a{
  font-size: 12px;
  color: #817979;
  text-decoration: none; 

}

.word{
  width: 100%
}
.wordimg{
  padding-left: 5px;
   display: flex;
  flex-direction: row;
  justify-content: start;
}


#border{
  width: 170px;
  height: 140px;
  border: 1px solid rgb(218, 213, 213);
  border-radius:  15px;
  box-shadow: 2px 2px rgb(224, 219, 219);
}
#isSize{
 width: 100%;
 height: 50%;
 border-radius:  15px 15px 0px 0px;
}
#information1{
  padding: 7px 0px 0px 7px;
  font-size: 11px;
  color: #363434;
}
#information2{
  padding: 0px 0px 0px 7px;
  font-size: 11px;
  color: rgb(67, 124, 231);
}
#information3{
  padding: 0px 0px 0px 7px;
  font-size: 11px;
}
div.top{
display: flex;
flex-direction: row;
justify-content: center;
}
#naverBox{
  border: 2px solid rgb(49, 182, 31);
}

#search{
  background-color: rgb(49, 182, 31);
  border: 1px solid rgb(49, 182, 31);
  color: #f1f3f6;
  font-size: 12px;
}
#search1{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(196, 197, 196);
  font-size: 12px;
}
div.middle, .ends, ._naver{
display: flex;
flex-direction: row;
justify-content: center;
}


#fonts{
 margin: 3px 0px 0px 0px;
}

#font_end{
font-size: 20px;
font-weight: 900;
color: #817979;
}

.vertical-line {
  border-left: 1px solid #ccc; /* 선의 색 및 두께를 조절하세요 */
  height: 350px; /* 선의 높이를 조절하세요 */
  margin: 0px 10px; /* 선과 양쪽 요소 사이의 간격을 조절하세요 */
 
}